.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 44px 15px;
}