.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 9;
  position: relative;
  padding: 44px 15px;
}

nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 22px;
}

.navigation nav a.active {
  color: #dacc0b;
  background: #2e2e73;
  padding: 18px 46px;
  border-radius: 9px;
}
